.nav {
  height: 15vh;
  max-width: 100vw;
  background-color: $color-tertiary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 10rem;
  .nav-brand {
    font-size: 2rem;
    color: $color-primary;
  }
  .nav-link {
    margin-left: 3rem;
    font-size: 1.1rem;
    color: $color-primary;
  }
  .active-link {
    color: $color-secondary;
  }
  .nav-btn {
    color: $color-primary;
    background-color: transparent;
    border: none;
    font-family: inherit;
    margin-left: 3rem;
    font-size: 1.1rem;
  }
  .nav-open-btn {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .nav {
    padding: 2rem;
    .nav-brand {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .nav-open-btn {
    display: flex !important;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-color: $color-secondary;
    color: $color-primary;
    border: none;
    padding: 0.6rem;
    border-radius: 50px;
  }
  .nav-links {
    display: none;
  }
  .hidden {
    position: absolute;
    top: 14vh;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: $color-secondary;
    width: 100vw;
    align-items: center;
    justify-content: center;
    height: 40vh;
    z-index: 2;
    .nav-link {
      margin: 2rem 0;
      font-size: 1.2rem;
    }
    .nav-btn {
      margin: 2rem 0;
      font-size: 1.2rem;
    }
  }
}
