* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

main {
  margin: 3rem auto;
  max-width: 100vw;
  padding: 0 7rem;
}

@media only screen and (max-width: 1000px) {
  main {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 500px) {
  main {
    padding: 0 1rem;
  }
}

@import "./utils";
@import "./nav";
@import "./login";
@import "./home";
@import "./blog-card";
@import "./form";
@import "./blog-detail";
@import "./modal";
@import "./error-page";
